/* GLOBAL AND MOBILE STYLES FIRST */

/*on all the pages*/
body {
  margin:0;
  padding:0;
  background: #000;
  color: black;
  text-align: center;
}
header {
  background: #444;
  color: black;
}
nav {
  background: #aaa;
  display: none;
}
nav a {
  padding: 1em;
  display: block;
}

#menu {
  padding: 2em;
  background: #fff;
  display: block;
}
.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
 
}

section {
  background: #888;

}
.section2 {
  width:100%;

}  
.section3{
	
	width:100%;
	position:relative;
}
#logo{
	width:10%;
	height:10%;
	margin-top:10px;
	margin-left:0%;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
p{
	color:white;
}
h4{
	color:white;
}
a{
	color:#0066CC;
}
/*end*/

/*Index page*/
.slideshow{
	max-width:500px;
	margin-left:30%;
	
}
.mySlides{
	width:50%;
	
}
.section3 iframe{
	margin-left:10%;
	width:30%;
	height:200px;
	position:relative;
}
.bmoji{
width:70%;	
}
/*end*/

/*Education page */
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide ul {
  display: none;
  list-style:none;
  
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {width: 70%; background-color: #4CAF50;}
.mvc {width: 60%; background-color: #2196F3;}
.c{width: 65%; background-color: #f44336;}
.aspx {width: 50%; background-color: #FF6600;}

.skillsection{
	
  width:100%;

} 


a .clickhere{
	font-style:underline;
}
/*end*/

/*project page*/
.project{
	 width:100%;
}
.pdfDoc ul{
list-style-type: none;
}
.pdfDoc ul li{

float:left;
margin:1%;
}
.pdfDoc ul li a{

display:inline-block;
text-align: center;
text-decoration: none;

}
.pdfDoc img{

width:50%;
height:20%;
}
/*end*/

/*contact page*/
.sectioncontact{
	 width:100%;
}
#map {
  height: 400px;
  width:100%;
}
/*end*/

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
	/*on all the pages*/
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
	margin: 0 auto;
    
  }
  section {
     width: 90%;
    margin: 2% auto;
    display: block;
    background: #888;
    color: black;
	
  }



.section2 {
  width:90%;

}  
.section3{
	width:90%;
}
/*end*/

/*index page*/
.slideshow{
	max-width:500px;
	margin-left:30%;
	
}
.mySlides{
	width:50%;
	
}
.section3 iframe{
	margin-left:10%;
	width:30%;
	height:200px;
	position:relative;
}
.bmoji{
width:30%;	
}
/*end*/

/*education page*/
#jsshowhide h3 {
  display: block;
}

/*end*/

/*project page*/
.pdfDoc img{

width:10%;
height:20%;
}
.project{
	  width:100%;
}
.searchform{
	width:100%;
	
}
.pdfDoc img{

width:40%;
height:150px;
}
/*end*/

/*contact page*/
.sectioncontact{
	 width:100%;
}
/*end*/
  
}

/* END FIRST BREAKPOINT */

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
	
/*on all the pages*/
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 90%;
	margin:auto;
  }
  section {
	  position:relative;
	 /* float:left; */
    width: 100%;
    margin: 1em 1% 1em 1%;
    background: #888;
    border-color: #666;
    font-size: 1.5em;
  }
.section2 {
	  width:50%;
	  float:left;
	}  
.section3{
		width:45%;
		float:left;
	}
	/*end*/


/*education page*/
#jsshowhide h3 {
	  display: inline-block;
	}

.skillsection{
  width:80%;
  margin-left:10%;
} 
/*end*/

/*project page*/
.project{
	  width:90%; 
}

.searchform{
	width:90%;
	
}
.pdfDoc img{

width:9%;
height:100px;
position:inline-block;
}
/*end*/

/*contact page*/
#map {
  height: 400px;
  width: 40%;
  margin-left:30%;
}

.sectioncontact{
	position:relative;
	float:left;
    width: 100%;
    margin: 1em 1% 1em 1%;
}

 /*end*/ 
 

}
/* END SECOND BREAKPOINT */
