body{
	background: #C0C0C0;
	margin:0;
	padding:0;
	margin-left:30%;
	height:70%;
	width:70%;
border-color:

}

/* #myTopnav{ */
	/* margin: 100px auto; */
/* } */
.topnav {
  overflow: hidden;
  background-color: #C0C0C0;
  margin-left:10px;
  margin-bottom:30px;
  font-family:Comic Sans MS;
  font-size:18px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 19px 25px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: yellow;
}

.topnav .icon {
  display: none;
}

#title{
	width:50%;
	height:10%;
	margin-top:30px;
	margin-left:20px;
	
}
h1{
	font-family:Comic Sans MS;
	font-size:20px;
	margin-top:10px;
color: white;
	
}
.me{
	width:50%;
	height:200px;
}
.square {
  height: 200px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:-1%;
color: white;
}
.square2 {
  height: 100px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:-22%;
  margin-left:30%;
color: white;
}
h2{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:25px;
color: white;
}
h3{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:-30px;
	margin-left:30%;
color: white;
	
}

#dmu{
	width:100%;
	height:100px;
}
h4{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:5px;
	margin-left:30%;
color: white;
}

.square3 {
  height: 200px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:0%;
  margin-left:30%;
color: white;
}
 img{
	margin-bottom:50px;
	width:50px;
	height:50px;
	
}

.button {

    cursor: pointer;
	margin-left:-10%;
	margin-top:-30%;
}
.square4{
  height: 200px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:-1%;
  margin-left:2%;
color: white;
	
	
}
#imgcomputer{

  height: 150px;
  width: 20%;

  margin-top:-22%;
  margin-left:30%;
color: white;
}
.square5{
  height: 200px;
  width: 50%;
 border-style: solid;
  border-color:grey;
  margin-top:0%;
  margin-left:2%;
color: white;
	
	
}
.achieved{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:10px;
	margin-left:1%;
color: white;
}







@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;

  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right:0;
    top: -10px;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
	padding: 1px 10px;

  }
  
  #title{
	width:50%;
	height:10%;
	margin-top:30px;
	margin-left:20px;
	
}
h1{
	font-family:Comic Sans MS;
	font-size:20px;
	margin-top:10px;
	
}
.me{
	width:50%;
	height:200px;
}
.square {
  height: 200px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:-1%;
}
.square2 {
  height: 100px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:-22%;
  margin-left:30%;
}
h2{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:25px;
}
h3{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:-30px;
	margin-left:30%;
	
}

#dmu{
	width:100%;
	height:100px;
}
h4{
	font-family:Comic Sans MS;
	font-size:16px;
	margin-top:5px;
	margin-left:30%;
}

.square3 {
  height: 200px;
  width: 20%;
 border-style: solid;
  border-color:grey;
  margin-top:0%;
  margin-left:30%;
}
 img{
	margin-bottom:50px;
	width:50px;
	height:50px;
	
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	margin-left:-10%;
	margin-top:-1%;
}





